.prod {
   flex-shrink: 0;
   display: flex;
   justify-content: space-between;
   width: 900px;
   box-shadow: 0 2px 8px rgba(0, 114, 116, 0.5);
   gap: 15px;
   border-radius: 10px;
   margin: 0 15px 1rem 15px;
   &_img {
      border: 3px rgba(0, 0, 0, 0.2) solid;
      flex: 1;
      max-width: 250px;
      object-fit: contain;
      border-radius: 10px;
   }
   &_info {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
   }
   &_btns {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20%;
      padding: 1rem;
   }
}

.info {
   &_title {
      font-size: 1.1rem;
      font-weight: 700;
      color: #0a0700;
   }
   &_desc {
      font-size: 1.2rem;
      color: #0a0700;
   }
   &_price {
      font-size: 1.5rem;
      font-weight: 700;
      color: #0a0700;
   }
}

.btns {
   &_btn {
      width: 120px;
      height: 45px;
      padding: 0.5rem;
      border: 1px solid #0a0700;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
         opacity: 0.8;
      }
   }
   &_view {
      background: #33333316;
      color: #0a0700;
   }
   &_add {
      background: #bae4e5;
      color: #0a0700;
   }
}
