.nav {
   position: sticky;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
   width: 100%;
   padding: 15px;
   background: #bae4e5;
   top: 0;
   left: 0;
   &_logo {
      font-size: 3rem;
      font-weight: bold;
      color: #0a0700;
      @media (max-width: 768px) {
         font-size: 2rem;
      }
      @media (max-width: 480px) {
         font-size: 1.5em;
         text-align: center;
      }
   }
   &_cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      max-width: 200px;
      padding: 0.5rem;
      background: #fff;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      @media (max-width: 768px) {
         max-width: 150px;
      }
   }
   &_cart:hover {
      opacity: 0.8;
   }
}

.cart {
   &_title {
      font-size: 30px;
      font-weight: bold;
      color: #0a0700;
      @media (max-width: 768px) {
         font-size: 15px;
      }
   }
   &_img {
      width: 30px;
      height: 30px;
      object-fit: contain;
   }
   &_count {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      font-size: 25px;
      border: 1px solid #333333;
      border-radius: 50%;
      color: #0a0700;
      background: rgba(104, 152, 255, 0.39);
      @media (max-width: 768px) {
         font-size: 15px;

         height: 30px;
         width: 30px;
      }
   }
}
